.contact {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}

.contact__box{
    display: flex;
}

.contact__photo {
    width: 250px;
    height: 280px;
    border-radius: 50%;
    margin: 20px 0;
    margin-right: 20px;
    border: 3px solid black;
}

.contact__info-box {
    font-size: 35px;
    display: flex;
    padding: 20px;
    background-color: #3de3d8;
    color: black;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
}

.contact__title {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #4bf2b5;
    padding: 5px 10px;
    border-radius: 5px;
    border:2px solid black;
}

.contact__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact__list-item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #4bf2b5;
    padding: 5px 10px;
    border-radius: 5px;
    border:2px solid black;
}

.contact__link {
    text-decoration: none;
    color: #333;
}

@media (max-width: 750px) {
    .contact__photo {
        width: 30vw;
        height: 34vw;
    }

    .contact__info-box {
        margin-left: 5vw;
        width: 45vw;
        height: 45vw;
        border: 10vw;
    }

    .contact__title {
        font-size: 3vw;
    }

    .contact__list-item {
        font-size: 3vw;
    }
}